@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
  background-color: hsl(185, 41%, 84%);
  max-width: max-content;
  margin: auto;
  font-family: "Space Mono", monospace;
}
body img {
  display: block;
  margin: auto;
  padding: 10%;
}
section {
  background: hsl(0, 0%, 100%);
  width: 600px;
  max-width: 95%;
  padding: 4%;
  border-radius: 20px;
}

.leftSide {
  width: 50%;
}
label {
  display: block;
  color: hsl(186, 14%, 43%);
}
#bill {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-color: hsl(189, 41%, 97%);
  border: none;
  outline: none;
  text-align: right;
  font-weight: 900;
  color: hsl(186, 14%, 43%);
}
